h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border:0;
}

.darkmode d-article,
.darkmode d-appendix,
.darkmode d-title,
.darkmode distill-site-nav distill-site-footer,
.darkmode body {
  background-color: black;
  color: white;
}